<ion-view title="Good to know">

	<ion-nav-title>
	    <img src="img/logo.png" height="30px">
	</ion-nav-title>

  <ion-content class="has-header">
    <div class="container">
      <h1>Lorem ipsum dolor sit amet.</h1>
              <img src="/img/Breast-Cancer.jpg" alt="" width="100%" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nemo vel dolorum odit praesentium ab est
              alias placeat, eum quasi molestias non laudantium magni quam voluptatibus. Aliquam animi, laborum quibusdam quidem consequuntur</p>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/7D6OZnn0P5A" frameborder="0" allowfullscreen></iframe>
              <p>Placeat, ullam! Rem molestiae placeat debitis, reiciendis accusamus possimus ducimus eius magni! Nihil esse inventore, et doloribus
              adipisci sequi quas similique quos dicta, provident beatae. Saepe, quam vero sint reiciendis doloremque esse hic possimus quis.</p>
              <p>Maiores tempora, voluptate excepturi quidem eveniet ipsum a autem unde consequatur sit! Voluptatibus asperiores perferendis consequuntur hic,
              ratione ipsa error labore optio tempora reiciendis, magnam ex perspiciatis, officia quae possimus fuga. Eveniet repellat aut consequuntur voluptate iste,
              recusandae iusto. Placeat at pariatur saepe doloribus esse aperiam quia maiores amet ut, iste repellendus accusamus alias quam labore adipisci quos.
              Itaque ipsum quibusdam soluta praesentium, aspernatur, ab amet, minus eum accusamus similique minima architecto nemo perferendis.</p>
              Repellendus ipsum doloremque dolore, iste non aliquid a veniam maiores tempore totam, repudiandae in inventore nulla magni molestiae cum sapiente rem odio quod,
              voluptate? Autem voluptate magni eius odit, ex quas molestiae quae quam, hic sed ullam iste omnis facere inventore sunt in numquam laborum tenetur odio, ab,
              reiciendis fugit rem et. Minus sapiente odit eaque, suscipit omnis aut architecto magni eos ducimus doloribus ratione, debitis maxime facilis dolorem soluta
              voluptates impedit necessitatibus voluptatum. Non quasi vel nemo saepe fugiat laudantium culpa expedita cupiditate! Reiciendis voluptatem dolorum tempore magni</p>
              <p>laboriosam nam totam magnam fuga facere perspiciatis ea, at perferendis, nesciunt sint cum quia tenetur veritatis soluta saepe mollitia consequuntur. Iste perferendis
              nulla, accusantium sunt corporis, cupiditate mollitia facere iure eum itaque, vero quisquam reiciendis iusto accusamus explicabo corrupti rem tempore deleniti
              libero vel inventore nobis numquam! Rem voluptatum delectus aspernatur nam commodi quam tenetur quod exercitationem! Doloremque eos sapiente repudiandae sit error,
              animi aspernatur temporibus, dolor veritatis, placeat debitis amet sunt, atque delectus nihil provident enim soluta et ratione qui unde. Maiores fuga quam,
              nesciunt recusandae numquam. Possimus cumque dignissimos illo! Deserunt reprehenderit asperiores eos, at non numquam libero delectus hic illo est in sapiente
              incidunt veniam atque neque reiciendis sed ullam ipsa dignissimos doloremque! Reiciendis aliquam soluta eius iste sequi, nisi officiis quisquam eaque laudantium,
              quo consectetur, eligendi sint voluptatum dolorum rem, dignissimos aut vitae accusamus dolore. Nulla et saepe expedita, tempore, dolores harum dignissimos sint
              molestias maxime. Reprehenderit non iste praesentium hic at obcaecati sed doloremque perferendis. Maiores harum rem dolorum dolor eveniet, nobis. Repellat perspiciatis,
              voluptatibus.</p>
    </div>
  </ion-content>
</ion-view>
