<ion-view title="Good to know">

	<ion-nav-title>
	    <img src="img/logo.png" height="30px">
	</ion-nav-title>

  <ion-content class="has-header">
    <div class="container">
      <h1>Donate</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nemo vel dolorum odit praesentium ab est
              alias placeat, eum quasi molestias non laudantium magni quam voluptatibus. Aliquam animi, laborum quibusdam quidem consequuntur</p>
    </div>
  </ion-content>
</ion-view>
