<ion-modal-view class="login-modal">
  <ion-header-bar>
    <h1 class="title">{{ content.title }}</h1>
    <button class="button button-clear ion-close-round" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content   class="padding modal-content">
  <h2 id="infocollect">Information we collect</h2>
  <p>There are many different ways you can use our services – to search for and share information, to communicate with other people or to create new content. When you share information with us, for example by creating a <a href="../../policies/privacy/key-terms/#toc-terms-account">Google Account</a>, we can make those services even better – to show you <a class="highlight highlight-unselected" href="../../policies/privacy/example/more-relevant-search-results.html" id="more-relevant-search-results">more relevant search results</a> and ads, to help you <a class="highlight" href="../../policies/privacy/example/connect-with-people.html" id="connect-with-people">connect with people</a> or to make <a class="highlight" href="../../policies/privacy/example/sharing-with-others.html" id="sharing-with-others">sharing with others quicker and easier</a>. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.
  </p><p>Our Privacy Policy explains:
  </p><ul>
  <li>What information we collect and why we collect it.
  </li><li>How we use that information.
  </li><li>The choices we offer, including how to access and update information.</li></ul>
  <p>We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies, IP addresses, pixel tags and browsers, then read about these <a href="../../policies/privacy/key-terms/">key terms</a> first. Your privacy matters to Google so whether you are new to Google or a long-time user, please do take the time to get to know our practices – and if you have any questions <a href="https://support.google.com/policies/troubleshooter/2990837?hl=en">contact us</a>.
  </p>
  </ion-content>
</ion-modal-view>