<ion-view title="Login - Dicoulti"  id="login-page">

    <ion-content has-header="false" padding="true" scroll="false">


<!--         <div class="item-image">
            <img src="img/logo.png" />
        </div> -->

        <div class="des"><h3>GO AHEAD! </h3> We won't tell your <br>girlfriend,  wife or mom</div>

        <button class="button button-block fb-connect-btn" ng-click="fbLogin()">
            <i class="icon ion-social-facebook"></i>
            &nbsp;&nbsp;Login with Facebook
        </button>

        <p class="info-login">By clicking on Login you accept our term of policy</p>

        <div class="links">
            <a href="#" ng-click="openModal('Terms of Use')"> Terms of use </a>
            
            <a href="#" ng-click="openModal('Privacy policy')"> Privacy policy </a>
        </div>

    </ion-content>
</ion-view>