<ion-side-menus  class="{{ bodyClass }}">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="user-profile clearfix">
          <div class="col-md-4 user-prof-img">
              <img src="https://graph.facebook.com/{{ user.id }}/picture?width=150&height=150" alt="{{ user.name }}">
          </div>
          <div class="col-md-8 user-prof-text">
            <h3>{{ user.name | limitTo : 20 }}</h3>
            <p>{{ user.email | limitTo : 27 }}</p>
            <!-- <a menu-close href="#/dicoulti/rating" class="my-account-btn"> My account </a> -->
          </div>
      </div>

      </div>
      <ion-list>
        <ion-item menu-close href="#/dicoulti/rating" class="item-icon-left">
          <i class="icon fa fa-heart-o"></i> Rate the boob
        </ion-item>
        <ion-item menu-close href="#/dicoulti/wall" class="item-icon-left">
          <i class="icon fa fa-th"></i> Wall Of Boobs
        </ion-item>
        <!-- <ion-item menu-close href="#/dicoulti/donate" class="item-icon-left">
          <i class="icon fa fa-hand-peace-o"></i> Donate
        </ion-item> -->
        <ion-item menu-close href="#/dicoulti/top10" class="item-icon-left">
          <i class="icon fa fa-diamond"></i> Top 10
        </ion-item>
        <!-- <ion-item menu-close href="#/dicoulti/upload" class="item-icon-left">
          <i class="icon fa fa-camera"></i> Upload your boobs
        </ion-item> -->
        <ion-item menu-close href="#/dicoulti/breats-cancer" class="item-icon-left">
          <i class="icon fa fa-hand-lizard-o"></i> Prevent Breast cancer
        </ion-item>
        <ion-item menu-close href="#/dicoulti/settings" class="item-icon-left">
          <i class="icon fa fa-cog"></i> Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
