<ion-view title="Rating">
    <ion-nav-title>
        <img src="img/logo.png" height="30px">
    </ion-nav-title>
    <ion-content class="has-header" scroll="false">

        <!-- <div id="tutos" ng-show="!alreadyExists">
            <div class="wrapper">
                <ion-slide-box on-slide-changed="">
                  <ion-slide>
                    <div class="box blue">
                        <h1>Big Or Small, Let’s Save Them All.</h1>
                        <p>Because they are the </p>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box yellow"><h1>YELLOW</h1></div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box pink"><h1>PINK</h1>
                        <button ng-click="closeTutos();"> Got it :) ! </button>
                    </div>
                  </ion-slide>
                </ion-slide-box>
            </div>
        </div> -->

        <div class="boobs-carousel">
            <div ng-repeat="boob in boobs" class="boob boob{{$index}} animated">
                <div class="img-container">
                    <img ng-src='{{ boob.pic }}'>
                </div>
                <div class="rate-btn-contaner">
                    <h2 class="push-title">Like them ? Rate them !</h2>
                    <div id="rateForm">
                        <button class="btn rate1" ng-click="rateMe($index, boob.id, '1')">#ya7lili</button>
                        <button class="btn rate2" ng-click="rateMe($index, boob.id, '2')">#ya7liliii</button>
                        <button class="btn rate3" ng-click="rateMe($index, boob.id, '3')">#ya7liliiiii</button>
                    </div>
                </div>
            </div>
            <div class="boob boob-last animated" style="display: none !important;">
                <img src="img/tap-boobs-icn.png" alt="Last boobs">
                <h2 class="dont-worry">No more boobs? <span>Don’t Worry</span></h2>
                <a menu-close href="#/dicoulti/wall" class="check-wall">Check The Wall Of Boobs</a>
                <a menu-close href="#/dicoulti/breats-cancer" class="info">Or learn more about <br> Breast Cancer Prevention</a>
            </div>
        </div>

        <!-- <a href="#" ng-click="loadMore()">Load More</a> -->

    </ion-content>
</ion-view>
