<ion-view title="Settings">

	<ion-nav-title>
	    <img src="img/logo.png" height="30px">
	</ion-nav-title>

  <ion-content class="has-header settings-page">
    <div class="container">

      <ul class="list">
        <li class="item">
          <h2>Settings</h2>
          <p>Change your settings</p>
        </li>
        <!-- <li class="item item-toggle">
           Settings 1
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Settings 2
           <label class="toggle toggle-balanced ">
             <input type="checkbox" checked="true">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Settings 3
           <label class="toggle toggle-balanced">
             <input type="checkbox" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li> -->
        <li class="item">
           <a href="#/dicoulti/settings" class="button-full" ng-click="openModal('Terms of Use')"> Terms of Use </a>
        </li>
        <li class="item">
           <a href="#/dicoulti/settings" class="button-full" ng-click="openModal('Privecy Policy')"> Privecy Policy </a>
        </li>
        <li class="item">
           <a href="mailto:dicoultitunis@gmail.com" class="button-full"> Send us your feedback </a>
        </li>
        <li class="item">
           <button class="button button-full button-assertive" ng-click="fbLogout()"> Logout </button>
        </li>

      </ul>
    </div>
  </ion-content>
</ion-view>
