<ion-view title="Good to know">

	<ion-nav-title>
	    <img src="img/logo.png" height="30px">
	</ion-nav-title>

  <ion-content class="has-header top10">
    <div class="container">
    	<div class="des-box">
            <h2>Top 10 </h2>
            <p>Here are listed all the boobs that you rated, tank you for your particiaption</p>
        </div>
			<div class="list top10-list">
           <figure ng-repeat="boob in boobs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="pic">
               <div data-href="{{ boob.pic }}" itemprop="contentUrl" data-size="800x800" class="linkIMG boob boob{{$index}}">
                   <img ng-src="{{ boob.pic }}" itemprop="thumbnail" alt="Boobs number {{$index}}"  gallery-directive/>
               </div>
               <figcaption itemprop="caption description" class="description"><i class="fa fa-trophy"></i> Boobs number {{ $index + 1 }}  <span class="note" ng-show="boob.note"> {{ boob.note }} / 10 </span></figcaption>
           </figure>
			</div>

			</div>
    </div>
  </ion-content>
</ion-view>
