<ion-view title="Upload your boobs">

	<ion-nav-title>
	    <img src="img/logo.png" height="30px">
	</ion-nav-title>

  <ion-content class="has-header">
    <div class="container">
      <div class="des-box">
           <h2>Share anonymously your gift</h2>
           <p>Here listed all the boobs that you rated, thank you for your particiaption</p>
           <button ng-click="showMenu()" class="select-source-btn"> <i class="fa fa-camera"></i> Upload your boobs</button>
      </div>
      

      

      <div class="list">
          <div ng-repeat="boob in boobs" class="item item-thumbnail-left">
            <img ng-src="http://rami.jegham.com/dicoulti/img/dicoulti/{{boob.rank}}.jpg" width="100px">
            <h2> Boobs nb {{$index}} </h2>
            <p>213</p>
          </div>
      </div>
    </div>


    <script id="confirmationModal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title"> Confirmation </h1>
        </ion-header-bar>
        <ion-content>
          <div class="confirm-photo-modal">
            <p>We assure you that this image will not be geven to any third party, or use only by us in this application </p>
            <div class="photoContainer">
              <img src="" id="photo">
            </div>
            <div class="row btn-wrapper">
              <div class="col">
                <button class="button button-stable" ng-click="closeModal()">
                  Cancel
                </button>
              </div>
              <div class="col">
                <button class="button button-positive validate">
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
