<ion-view title="Wall Of Boobs">
    <ion-nav-title>
        <img src="img/logo.png" height="30px">
    </ion-nav-title>
    <ion-content class="has-header wallofboobs wallPage" scroll="true">
        <div class="des-box">
            <h2>Wall Of Boobs</h2>
            <p>Here are listed all the boobs that you rated, thank you for your particiaption</p>
        </div>

        <div class="boobs-wall-container" id="gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <figure ng-repeat="boob in boobs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
               <div data-href="{{ boob.pic }}" itemprop="contentUrl" data-size="800x800" class="linkIMG boob boob{{$index}}">
                   <img ng-src="{{ boob.pic }}" itemprop="thumbnail" alt="Boobs number {{$index}}"  gallery-directive/>
               </div>
           </figure>


        </div>

        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="nextPage()"
            distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
