<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Security-Policy" content="default-src *">
    

    <title>Dicoulti</title>

    <link href="https://fonts.googleapis.com/css?family=Mallanna%7CVarela%20Round" rel="stylesheet" type="text/css">

    <!-- compiled css output -->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="lib/photoswipe/dist/photoswipe.css" rel="stylesheet">
    <link href="lib/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet">

  </head>

  <body ng-app="dicoulti" class="{{ bodyClass }}">
    <ion-nav-view></ion-nav-view>

    <div id="fb-root"></div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>


    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/angular-ios9-uiwebview.patch.js"></script>
    

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <script src="cordova.js"></script>
    <!-- <script src="AdMob.js"></script> -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/satellizer/satellizer.js"></script>
    <script src="lib/satellizer/satellizer.js"></script>
    <script src="lib/photoswipe/dist/photoswipe.min.js"></script> 
    <script src="lib/photoswipe/dist/photoswipe-ui-default.min.js"></script> 



    <!-- your app's js -->
    <script src="js/main.js"></script>

    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/services.js"></script>
    <script src="js/rating.js"></script>
    <script src="js/wall.js"></script>
    <script src="js/donate.js"></script>
    <script src="js/top10.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/breats-cancer.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/login.js"></script>
    <script src="js/facebookConnectPlugin.js"></script> 
  </body>
</html>
